name: Linting

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

    workflow_dispatch:

jobs:
    check:
        runs-on: ubuntu-22.04

        steps:
            - name: Checking out repo
              uses: actions/checkout@v2

            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                  python-version: "3.11"

            - name: Install Poetry
              run: pipx install poetry==1.8.*

            - name: Install dependencies
              run: poetry install --with dev

            - name: Linting
              run: poetry run ruff check pcax

            - name: Formatting
              run: poetry run ruff format pcax
